SPRING_PROFILES_ACTIVE=postgres,cloudinary

MYGALLERY_DB_URL=jdbc:postgresql://host.example:5432/database?sslmode=require
MYGALLERY_DB_USERNAME=replace_me
MYGALLERY_DB_PASSWORD=replace_me

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_USERNAME=
ADMIN_PASSWORD_BCRYPT_HASH=

CORS_ALLOWED_ORIGINS=

SESSION_COOKIE_NAME=__Host-mygallery-session
SESSION_COOKIE_SECURE=true
